.figure {
  position: relative;
  &__phone {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    max-width: 45.8125rem;
    // top: 0rem;
    right: 0rem;

    @include media-breakpoint-up(md) {
    }
  }

  &__circles {
    width: 100%;
    height: auto;
    max-width: 36.2725rem;

    @include media-breakpoint-up(md) {
      display: block;
      margin: 0 auto;
    }
  }
}
