.figure {
  position: relative;
  &__phone {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    max-width: 45.8125rem;
    left: 0.8rem;
    top: 5rem;

    @include media-breakpoint-up(sm) {
      left: 1rem;
      top: 6rem;
    }
    @include media-breakpoint-up(md) {
      left: 1rem;
      top: 2rem;
    }
    @include media-breakpoint-up(lg) {
      left: 1rem;
      top: 5rem;
    }
  }

  &__circles {
    width: 100%;
    height: auto;
    max-width: 36.2725rem;

    @include media-breakpoint-up(md) {
      display: block;
      margin: 0 auto;
    }
  }
}
