.header {
  padding: 2rem 0 0 0.5rem;

  @include media-breakpoint-up(md) {
    padding-top: 3rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 4.75rem;
  }
  &__logo {
    img {
      width: 100%;
      height: auto;
      max-width: 4.3125rem;
    }
  }
}
