.intro {
  @extend .row-wrapper;
  &__descr {
    @include make-col(12);

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 94%;
    color: $main-text-color;
    padding-top: 4.491875rem;

    @include media-breakpoint-up(sm) {
      font-size: 3rem;
    }
    @include media-breakpoint-up(lg) {
      max-width: 35rem;
    }
  }

  &__list {
    padding-left: 1.2rem;
    margin-top: 3.25rem;
    @include media-breakpoint-up(lg) {
      max-width: 32rem;
    }
  }

  &__elem {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 1.9375rem;
    color: $main-text-color;
    &::marker {
      font-size: 1rem;
      color: $main-text-color;
    }

    @include media-breakpoint-up(sm) {
      font-size: 1.5rem;
    }
  }

  &__btn {
    display: block;
    margin: 2.5625rem auto 0 auto;

    @include media-breakpoint-up(lg) {
      margin: 2.5625rem 0 0 0;
    }
  }

  &__secondary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 129%;
    color: $secondary-text-color;
    margin-top: 1rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__pic {
    @include make-col(12);
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }
}
